#app-image {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    margin: 0;
}


/* .gms-title {
    display: -webkit-box  !important;
    line-clamp: 2 !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical  !important;
    overflow: hidden  !important;
    text-overflow: ellipsis  !important;
} */

.gms-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: font-size 0.3s ease;
}



.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    color: black !important;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-content input {
    margin: 10px 0;
    padding: 5px;
  }
  
  .modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
  }

.app-card {
  position: relative;
}

.cloud-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.cloud-icon {
  color: white;
  opacity: 0.9;
  width: 24px;
  height: 24px;
}